<html>
  <head>
    <meta charset="UTF-8">
    <style>
        h1 {
          font-size: 36px;
          margin-top: 20px;
          margin-bottom: 20px;
          text-align: center;
        }
        form {
            display: flex;
            flex-direction: column;
            width: 50%;
            margin: 0 auto;
        }
        label {
            font-size: 18px;
            margin-bottom: 10px;
        }
        input[type="text"],
        input[type="number"],
        textarea {
            padding: 8px;
            font-size: 16px;
            border: 1px solid #ccc;
            border-radius: 5px;
            margin-bottom: 20px;
        }
        input[type="submit"] {
            padding: 10px 20px;
            font-size: 18px;
            background-color: #008CBA;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        input[type="submit"]:hover {
            background-color: #006B8F;
        }
    </style>
    <title>Удаление игры</title>
  </head>
  <body>



    
    <h1>Удаление игры</h1>
    <form action="/deletegame" method="POST">
      <label for="id_game">ID игры:</label>
      <input type="text" name="id_game" id="id_game" required>
      <br>
      <input type="submit" value="Удалить">
    </form>
  </body>
</html>